extends layout

block content
  .navbar 
    if currentUser
      div Welcome #{currentUser.firstName} #{currentUser.lastName}
      .log-out 
        a(href='log-out') Log Out 
    else
      .log-in 
        a(href='log-in') Log In
      .sign-up 
        a(href='sign-up') Sign Up
